src/components/.DS_Store
node_modules
src/.DS_Store
.env.local
.env
/.next
/.next/cache
/.next/cache/webpack
*.gz
.next
.next/app-build-manifest.json
.next/build-manifest.json
.next/app-build-manifest.json
.next/build-manifest.json
.next/app-build-manifest.json
.next/cache/webpack/client-development-fallback/0.pack.gz
.next/app-build-manifest.json
